@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
  }

.rounded-pill{
    opacity: 0;
}

.card{
    &:hover{
        .rounded-pill{
            animation: .4s cubic-bezier(.25, .25, .25, 1.25) forwards fade;
            opacity: 1;
        }
    }
}