.app {
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
}

.content {
    display: grid;
    grid-template-columns: 560px 440px;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;
    &__interactive {
        padding-left: 40px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
  }

.rounded-pill{
    opacity: 0;
}

.card{
    &:hover{
        .rounded-pill{
            animation: .4s cubic-bezier(.25, .25, .25, 1.25) forwards fade;
            opacity: 1;
        }
    }
}

@media (min-width: 320px) and (max-width: 786px) {
    .content{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2vw;
        max-width: 100%;
    }
    .content__interactive{
        padding-left: 0;
    }
}